    <section id="dailyPane">
      <div id="dailySearchStatusWrap" class="daily-search-status-wrap hidden">
        <div id="dailySearchStatusText" class="daily-search-status-text"></div>
        <button id="dailySearchAdvanced" type="button" class="button-secondary">Open in Advanced Search</button>
        <button id="dailyClearSearch" type="button" class="button-secondary">Clear search</button>
      </div>
      <div class="table-wrap">
        <table id="dailyTable"></table>
      </div>
    </section>