    <section id="yearlyPane" class="hidden">
      <div class="table-wrap">
        <div class="yearly-subnav">
          <button id="yearlyAnnualTab" class="yearly-subtab active" type="button">Annual Metrics</button>
          <button id="yearlyMonthlyTab" class="yearly-subtab" type="button">Monthly Hours</button>
        </div>

        <div id="yearlyAnnualView">
          <table id="yearlyTable"></table>
        </div>

        <div id="yearlyMonthlyView" class="hidden">
          <table id="yearlyMonthlyTable"></table>
        </div>
      </div>
    </section>
